.container{
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.list{
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}